<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<!-- starting point for the app -->
  	<servlet>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- load the application context from the file specified by init-param -->
  	<init-param>
  	 	<param-name>contextConfigLocation</param-name>
  	 	<param-value>/WEB-INF/web-mvc-config.xml</param-value>
  	</init-param>
  	</servlet>
  	
  	<!-- route all the requests through dispatcher servlet -->
  	<servlet-mapping>
  	 <servlet-name>dispatcherServlet</servlet-name>
  	 <url-pattern>/</url-pattern>
  	</servlet-mapping>
  	
 </web-app>
